* {
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	caret-color: transparent;
}

body {
	width: 100%;
	background-color: #202020;
	font-family: 'Pacifico', cursive;
	/* font-family: 'Lobster', cursive; */
	font-size: 2.5rem;
	color: #ffffff;
	font-style: italic;

	display: flex;
	flex-direction: column;
}

:root {
	--line-color: #2c2c2c;
	--line-thickness: 0.4rem;
}




/*#############
===============
 HEADER
===============
#############*/
header {
	position: relative;
	width: 22rem;
	margin: 0 auto;
	top: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
}
#title {
	cursor: pointer;
	z-index: 1000;
}

#signature {
	position: relative;
	font-family: mali;
	font-weight: 700;
	opacity: 0;
	text-align: left;
	font-size: 1rem;
	bottom: 3.3rem;
	left: 0.5rem;
	z-index: 500;
	/* display: none; */
	/* transition-duration: 500ms; */
	transition: opacity 500ms, bottom 500ms;
}

.score {
	position: relative;
	bottom: 13rem;
	height: 9rem;
	font-family: 'mali';
	font-weight: 600;
	font-style: normal;
	color: #727272;
}



h1 {
	text-align: center;
}

p {
	position: relative;
}

#player-user {
	text-align: right;
	width: 6rem;
	left: 2rem;
	top: 14rem;
	font-size: 2rem;
}
#user-score {
	text-align: right;
	right: 12.5rem;
	top: 6.4rem;
	font-size: 5rem;
}

#hyphen {
	font-size: 5rem;
	/* left: 46%; */
}

#comp-score {
	width: 2rem;
	text-align: left;
	left: 12.5rem;
	bottom: 6.7rem;
	font-size: 5rem;
}
#player-comp {
	text-align: left;
	width: 6rem;
	left: 13.8rem;
	bottom: 8.1rem;
	font-size: 2rem;
}

/*#############
===============
 Tic-Tac-Toe BOX
===============
#############*/
.container {
	font-style: normal;
	/* position: fixed; */
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	border-bottom: var(--line-thickness) solid var(--line-color);
	border-top: var(--line-thickness) solid var(--line-color);

	transform: scale(0.95);
}

/* LINES */
.row:nth-child(3) {
	border-bottom: 0;
}
.row:first-child {
	border-top: 0;
}

.box {
	width: 9rem;
	height: 9rem;

	/* height: 10rem; */
	text-align: center;
	cursor: pointer;
	font-size: 0;
	transition: height 800ms ease, opacity 300ms ease;

	transform: scale(0.95);
}

.box {
	border-left: var(--line-thickness) solid var(--line-color);
	border-right: var(--line-thickness) solid var(--line-color);
}
.box:first-child {
	border-left: 0;
}
.box:last-child {
	border-right: 0;
}

h2 {
	position: absolute;
	top: 20.5rem;
	font-size: 5rem;
	transform: rotate(0deg);
	transition: opacity 800ms, transform 500ms cubic-bezier(0.04, 0.11, 0.46, 1.94);
	opacity: 0;
	display: none;
	padding: 7rem 4rem;
}

/* #draw {
	display: inline;
	opacity: 100;
} */

/*#############
===============
 X 0 X 0 X 0 X
===============
#############*/

#o {
	color: #727272;
	position: relative;
	top: 3.8rem;
	transform: scale(4.2);
	/* transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.04, 0.11, 0.46, 1.94) */
	transition: opacity 300ms ease, transform 300ms cubic-bezier(0.04, 0.11, 0.46, 1.94);
}

#x {
	color: #727272;
	position: relative;
	top: 3.8rem;
	transform: scale(5.2);
	/* transition-duration: 300ms; */
	transition: opacity 300ms ease, transform 300ms cubic-bezier(0.04, 0.11, 0.46, 1.94);
	/* transition-timing-function: cubic-bezier(0.04, 0.11, 0.46, 1.94); */
}

@media (max-width: 600px) {
	header {
		position: relative;
		right: 0.2rem;
	}
	.score {
		height: 11rem;
		bottom: 11rem;
	}
	.row {
		position: relative;
		right: 0.1rem;
	}
	.box {
		width: 7rem;
		height: 7rem;
	}

	h2 {
		top: 22.2rem;
		font-size: 5rem;
	}
	#o {
		color: #727272;
		position: relative;
		top: 2.8rem;
		/* transform: scale(4); */
		font-size: 1.25rem;
	}
	
	#x {
		color: #727272;
		position: relative;
		top: 2.8rem;
		/* transform: scale(5.2); */
		font-size: 1.35rem;
		transition-duration: 300ms;
	}
}

@media (max-height: 770px) {
	.score {
		height: 4rem;
		bottom: 13rem;
	}
	header {
		top: 0;
	}
	h2 {
		top: 13.2rem;
	}
	.box {
		width: 6.5rem;
		height: 6.5rem;
	}
	#o {
		color: #727272;
		position: relative;
		top: 2.8rem;
		/* transform: scale(4); */
		font-size: 1.25rem;
	}
	
	#x {
		color: #727272;
		position: relative;
		top: 2.8rem;
		/* transform: scale(5.2); */
		font-size: 1.35rem;
		transition-duration: 300ms;
	}
}

@media (max-width: 370px) {
	* {
		transform: scale(0.95);
	}
	header {
		right: 0.3rem;
	}
	#x {
		transform: scale(0);
	}
	#o {
		transform: scale(5.2);
	}
}